body {
    background-image: url('papel-de-parede.gif');
    background-size: contain; /* ou use 'cover' para preencher a tela */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Para que o fundo fique fixo ao rolar */
}
